.logout {
  background-color: #3d5afe;
  border: none;
  color: white !important;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
  color: rgb(28, 72, 155);
}

.question-count span {
  font-size: 28px;
}

.question-text {
  font-size: 25px;
  margin-bottom: 12px;
  color: rgb(49, 72, 177);
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answer-section button {
  margin: 10px;
  width: 100%;
  font-size: 18px;
  color: #2645ad;
  background-color: #b4ecee;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.answer-section button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.answer-section button:focus {
  outline: none;
}

.answer-section button svg {
  margin-right: 5px;
}

.skill {
  background-color: #b1f5f5;
  width: auto;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.skill body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}

.category .title {
  font-weight: bold;
  text-align: left !important;
}

.news {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}

.news .title {
  font-weight: bold;
  text-align: left !important;
}

.webinar {
  border: solid #ccc 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 2px #c4c4c4;
  box-shadow: 1px 1px 4px 2px #c4c4c4;
}

.webinar .title {
  font-weight: bold;
  text-align: left !important;
}

.title {
  margin: 20px;
}
.dropdown-menu {
  background: #3d5afe;
}
.dropdown-menu :hover {
  background-color: rgba(0, 0, 0, 0.1);
}
nav a {
  text-decoration: none;
  color: white !important;
}
.primary-background {
  background: #3d5afe !important;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ******************************************************
	Author URI: https://codeconvey.com/
	Demo Purpose Only - May not require to add.
	font-family: "Raleway",sans-serif;
*********************************************************/

@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

article,
header,
section,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body {
  background: #eee none repeat scroll 0 0;
  color: #222;
  font-size: 100%;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #373e18;
}

h2 {
  color: #1a0e0e;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
  text-transform: uppercase;
}
h2 span {
  display: block;
  padding: 0;
  font-size: 18px;
  opacity: 0.7;
  margin-top: 5px;
  text-transform: uppercase;
}

#float-right {
  float: right;
}

/* ******************************************************
	Script Top
*********************************************************/

.ScriptTop {
  background: #fff none repeat scroll 0 0;
  float: left;
  font-size: 0.69em;
  font-weight: 600;
  line-height: 2.2;
  padding: 12px 0;
  text-transform: uppercase;
  width: 100%;
}

/* To Navigation Style 1*/
.ScriptTop ul {
  margin: 24px 0;
  padding: 0;
  text-align: left;
}
.ScriptTop li {
  list-style: none;
  display: inline-block;
}
.ScriptTop li a {
  background: #6a4aed none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 18px;
  text-decoration: none;
  text-transform: capitalize;
}
.ScriptTop li a:hover {
  background: #000;
  color: #fff;
}

/* ******************************************************
	Script Header
*********************************************************/

.ScriptHeader {
  float: left;
  width: 100%;
  padding: 1em 0;
}
.rt-heading {
  margin: 0 auto;
  text-align: left;
}

.ScriptHeader h1 {
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro",
    "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue",
    Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #6a4aed;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  line-height: normal;
}
.ScriptHeader h2 {
  color: #312c8f;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0 0;
  line-height: normal;
}
.ScriptHeader h1 span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}
.ScriptHeader span {
  display: block;
  padding: 0;
  font-size: 22px;
  opacity: 0.7;
  margin-top: 5px;
}

/* ******************************************************
	Responsive Grids
*********************************************************/

.rt-container {
  margin: 0 auto;
}
.rt-row:before,
.rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}
[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0;
  min-height: 1px;
  position: relative;
}

@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }
  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }
  .col-rt-6,
  .col-rt-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .rt-container {
    width: 100%;
  }
  .col-rt-1 {
    width: 16.6%;
  }
  .col-rt-2 {
    width: 30.33%;
    padding-left: 20px;
  }
  .col-rt-3 {
    width: 50%;
  }
  .col-rt-4 {
    width: 67.664%;
  }
  .col-rt-5 {
    width: 83.33%;
  }
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
  .ScriptTop h1,
  .ScriptTop ul {
    text-align: center;
  }
  .ScriptTop h1 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .ScriptTop ul {
    margin-top: 12px;
  }

  .ScriptHeader h1,
  .ScriptHeader h2,
  .scriptnav ul {
    text-align: center;
  }
  .scriptnav ul {
    margin-top: 12px;
  }
  #float-right {
    float: none;
  }
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}
.header {
  display: block;
  margin: 0 auto;
  width: 250px;
  max-width: 100%;
  box-shadow: none;
  background-color: #257bdf;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  user-select: none;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #2b2db9 0%, #3f5efb 100%);
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.sidebarMenuInner li:hover {
  background: rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/*about us*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.gallery-area {
  position: relative;
}
.gallery-area .single-item-area .img-box-area {
  display: block;
  overflow: hidden;
  position: relative;
  border: 0px solid #e5e5e5;
  padding: 5%;
}
.gallery-area .single-item-area .img-box-area img {
  position: relative;
  width: auto;
}
.single-item-area .img-box-area .overlay .box .content a i {
  border: 2px solid #fff;
  text-align: center;
  color: #509e52;
  display: inline-block;
  font-size: 15px;
  height: 55px;
  line-height: 53px;
  transition: none 500ms ease 0s;
  width: 55px;
  margin-bottom: 15px;
  border-radius: 0;
}
.single-item-area:hover .img-box-area .overlay {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.overlay .box .content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.overlay {
  width: 96%;
  height: 96%;
  position: absolute;
  top: 2%;
  left: 20%;
  -webkit-transform: scale(50);
  transform: scale(0);
  background: rgba(21, 34, 63, 0.75);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.overlay .box {
  display: table;
  height: 100%;
  width: 100%;
}
.gallery-area h5 {
  color: #fff;
}
.gallery-area .owl-dots {
  display: none !important;
}
.gallery-area .owl-theme .owl-controls {
  display: block;
  position: relative;
  margin-top: 10px;
  text-align: center;
}
.gallery-area .owl-prev span,
.gallery-area .owl-next span {
  color: #848484;
}
.gallery-area .owl-prev:hover span,
.gallery-area .owl-next:hover span {
  color: #fff;
  transition: all 500ms ease;
}
.section-padding {
  padding: 80px 0px 80px 0px;
}
.centered {
  text-align: center;
}
.section-title h2 {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 2px;
}
.title-text {
  position: relative;
  margin-bottom: 68px;
}
.title-text p {
  font-size: 16px;
  max-width: 650px;
  color: #444;
  margin: 0 auto;
}
.title-text:before {
  position: absolute;
  content: "";
  height: 5px;
  border-bottom: 3px double #509e52;
  width: 100px;
  border-radius: 0px;
  left: 0;
  right: 0px;
  margin: auto;
  bottom: -18px;
}
@media (min-width: 600px) {
  .container {
    padding: 0px 0px;
  }
}

/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.neha {
  color: #f7f8f8;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.neha:hover {
  background-color: rgba(7, 7, 7, 0.986);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.form-style-9 {
  max-width: 1000px;
  background: #fafafa;
  padding: 30px;
  margin: 0px auto;
  box-shadow: 1px 2px 40px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid rgb(10, 139, 214);
}

body {
  background: #eee;
}

.date {
  font-size: 11px;
}

.comment-text {
  font-size: 12px;
}

.fs-12 {
  font-size: 12px;
}

.shadow-none {
  box-shadow: none;
}

.name {
  color: #007bff;
}

.cursor:hover {
  color: blue;
}

.cursor {
  cursor: pointer;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 13px sans-serif;
}

.comment-section {
  list-style: none;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 10px;
}

.comment {
  display: flex;
  border-radius: 3px;
  margin-bottom: 45px;
  flex-wrap: wrap;
}

.comment.user-comment {
  color: #808080;
}

.comment.author-comment {
  color: #60686d;
  justify-content: flex-end;
}

/* User and time info */

.comment .info {
  width: 17%;
}

.comment.user-comment .info {
  text-align: right;
}

.comment.author-comment .info {
  order: 3;
}

.comment .info a {
  /* User name */
  display: block;
  text-decoration: none;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 3px 0;
}

.comment .info span {
  /* Time */
  font-size: 11px;
  color: #9ca7af;
}

/* The user avatar */

.comment .avatar {
  width: 8%;
}

.comment.user-comment .avatar {
  padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar {
  order: 2;
  padding: 10px 3px 0 18px;
}

.comment .avatar img {
  display: block;
  border-radius: 50%;
}

.comment.user-comment .avatar img {
  float: right;
}

/* The comment text */

.comment p {
  line-height: 1.5;
  padding: 18px 22px;
  width: 50%;
  position: relative;
  word-wrap: break-word;
}

.comment.user-comment p {
  background-color: #f3f3f3;
}

.comment.author-comment p {
  background-color: #e2f8ff;
  order: 1;
}

.user-comment p:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
  left: -8px;
  top: 18px;
}

.author-comment p:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #e2f8ff;
  right: -8px;
  top: 18px;
}

/* Comment form */

.write-new {
  margin: 80px auto 0;
  width: 50%;
}

.write-new textarea {
  color: #444;
  font: inherit;

  outline: 0;
  border-radius: 3px;
  border: 1px solid #cecece;
  background-color: #fefefe;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;

  width: 100%;
  min-height: 80px;
  padding: 15px 20px;
}

.write-new img {
  border-radius: 50%;
  margin-top: 15px;
}

.write-new button {
  float: right;
  background-color: #87bae1;
  box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 25px;
  margin-top: 18px;
}

/* Responsive styles */

@media (max-width: 800px) {
  /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
  .comment p {
    width: 100%;
  }

  /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
  .comment.user-comment .info {
    order: 3;
    text-align: left;
  }

  .comment.user-comment .avatar {
    order: 2;
  }

  .comment.user-comment p {
    order: 1;
  }

  /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
  .comment.author-comment {
    justify-content: flex-start;
  }

  .comment-section {
    margin-top: 10px;
  }

  .comment .info {
    width: auto;
  }

  .comment .info a {
    padding-top: 15px;
  }

  .comment.user-comment .avatar,
  .comment.author-comment .avatar {
    padding: 15px 10px 0 18px;
    width: auto;
  }

  .comment.user-comment p:after,
  .comment.author-comment p:after {
    width: 12px;
    height: 12px;
    top: initial;
    left: 28px;
    bottom: -6px;
  }

  .write-new {
    width: 100%;
  }
}

/* ------- Demo footer. Please ignore and remove ------- */

footer {
  font: normal 16px Arial, Helvetica, sans-serif;
  padding: 15px 35px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1b1f22;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

footer a.tz {
  font-weight: normal;
  font-size: 16px !important;
  text-decoration: none !important;
  display: block;
  margin-right: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ccc !important;
  position: relative;
  padding-left: 140px;
}

footer a.tz:before {
  font-weight: bold;
  color: #fff;
  content: "tutorial";
  position: absolute;
  text-align: right;
  width: 100px;
  left: -20px;
}

footer a.tz:after {
  content: "zine";
  position: absolute;
  font-weight: bold;
  color: #da431c;
  left: 80px;
}

.card_n {
  width: 25%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
}

.image_n img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title_n {
  text-align: center;
  padding: 10px;
}

.h1_s {
  font-size: 70px;
  color: #3320dd;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.h1_n {
  font-size: 20px;
}

.des_n {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button_n {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.button_n:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 1024px) {
  footer {
    display: none;
  }
}


/*about us*/

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}


.about-sectionn{
  background: no-repeat left;
  background-size: 50%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.text{
  font-size: 16px;
  color: #111010;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}


